#mainform {
 /* width: 50%;
  margin-left: auto;
  margin-right: auto;*/
  margin: 0 auto;
  width: 900px;
  }
#submitButton {
  text-align: center;
}
#banner {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
fieldset {
  width: 100%;
}
legend {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
label.field {
  text-align: right;
  width: 250px;
  float: left;
  font-weight: bold;
}
input.textbox-300 {
  width: 300px;
  float: left;
}
fieldset p {
  clear: both;
}
.student-info {
  display: inline-flex;
}
.student-name {
  display: inline-flex;
}
.parent-name {
  display: inline-flex;
}
.parent-info {
  display: inline-flex;
}

